{% for post in contacts %}
    {# Each "contact" is a Contact model object. #}
    <!-- {{ contact.full_name|upper }}<br /> -->
    {% if forloop.counter0|divisibleby:3 %}
	
		<div class="col-md-offset-3 col-md-2 person-details">
		
			<figure class="editing" id="story1">
				<figcaption>
				<h3 class="margin-bottom-10">{{ post.storyTitle }}<br/><small>  {{ post.created_at }}</small></h3>
				<span>{{ post.firstSentence }}....</span>
				</figcaption>
				<button type="button" class="btn btn-primary"><a href="{% url 'story' post.created_id %}">join edit</a></button>
			</figure>
			
			<ul class="list-inline person-details-icons">
				<li><p>{{ post.post_likes }}</p></li>
				<li><a onclick="likes_post({{ post.created_id }});"><i class="fa-lg fa-thumbs-up"></i></a></li>
			</ul>
		</div>
	
	{% else %}
	<div class="col-md-2 person-details">
			<figure class="editing" id="story1">
				<figcaption>
				<h3 class="margin-bottom-10">{{ post.storyTitle }}<br/><small>  {{ post.created_at }}</small></h3>
				<span>{{ post.firstSentence }}....</span>
				</figcaption>
				<button type="button" class="btn btn-primary"><a href="{% url 'story' post.created_id %}">join edit</a></button>
			</figure>
		<ul class="list-inline person-details-icons">
			<li><p>{{ post.post_likes }}</p></li>
			<li><a onclick="likes_post({{ post.created_id }});"><i class="fa-lg fa-thumbs-up"></i></a></li>
		</ul>
	</div>
	{% endif %}
	{% endfor %}

<!-- <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> -->

<div class="text-center row">
	<div class="col-md-12">
	   <ul class="pagination">
	    {% if contacts.has_previous %}
	    <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
	    {% endif %}
	    {% for page in contacts.paginator.page_range %}
		    {% ifequal page  contacts.number %}
	      		<li class="active"><a>{{ page }}</a></li>
	    	{% else %}
	      		<li><a href="?page={{ page }}">{{ page }}</a></li>
	    	{% endifequal %}
	    {% endfor %}
	       {% if contacts.has_next %}
	      <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
	       {% endif %}
	   </ul>
	</div> 
</div>
