
                
        
                                        <div class="comments-container front" id="front">
									
                                            <ul id="comments-list" class="comments-list">
                                                {% for story in story %}
                                                <li>
                                                    <div class="comment-main-level" >
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                                    <!-- Contenedor del Comentario -->
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name by-author"><a href="#">{{story.auther}}</a></h6>
                                                                <span>{{ story.time }}</span>
                                                                    
                                                                    <a onclick="likes_story({{story.pk}});">
                                                                    
                                                                        <i class="fa fa-heart" >{{ story.likes }}</i>
                                                    
                                                                    </a>
                                                                
                                                            </div>
                                                            <div class="comment-content">
                                                                {{ story.context }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {%  endfor %}
              
                                            </ul>
										
		                                </div>
	                                    <div class="back">
									
                                 
                                            {% for story in story %}
                                            <div class="row">
                                                <div class="col-md-12 padding-horiz-40 padding-vert-10">
	                                                <h4>{{ story.context }}</h4>
	                                            </div>
                                            </div>
                                            {%  endfor %}
                                 
                                  
		                                    <div class="row">
				                                </br></br>
                                                <div class="col-md-12 padding-horiz-40 padding-vert-10">
                                                    <h3 class="date"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{post.created_at}}
                                                </div>
                                            </div>
                                  
                                  
			                            </div>
