{% for post in contacts %}
    {# Each "contact" is a Contact model object. #}
    <!-- {{ contact.full_name|upper }}<br /> -->

    {% if forloop.counter0|divisibleby:3 %}
		
		<div class="col-md-offset-3 col-md-2 person-details">
		
			<figure class="editing" id="story1">
				<figcaption>
				<h3 class="margin-bottom-10">{{ post.storyTitle }}<br/><small>  {{ post.created_at }}</small></h3>
				<span>{{ post.firstSentence }}....</span>
				</figcaption>
				<button type="button" class="btn btn-primary"><a href="{% url 'story' post.created_id %}">join edit</a></button>
			</figure>
			
			<ul class="list-inline person-details-icons">
				<li><p>{{ post.post_likes }}</p></li>
				<li><a onclick="likes_post({{ post.created_id }});"><i class="fa-lg fa-thumbs-up"></i></a></li>
			</ul>
		</div>
	
	{% else %}
	<div class="col-md-2 person-details">
			<figure class="editing" id="story1">
				<figcaption>
				<h3 class="margin-bottom-10">{{ post.storyTitle }}<br/><small>  {{ post.created_at }}</small></h3>
				<span>{{ post.firstSentence }}....</span>
				</figcaption>
				<button type="button" class="btn btn-primary"><a href="{% url 'story' post.created_id %}">join edit</a></button>
			</figure>
		<ul class="list-inline person-details-icons">
			<li><p>{{ post.post_likes }}</p></li>
			<li><a onclick="likes_post({{ post.created_id }});"><i class="fa-lg fa-thumbs-up"></i></a></li>
		</ul>
	</div>
	
	
	{% endif %}

	{% endfor %}