* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: #C4C4C4;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: #C4C4C4;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #C4C4C4;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #C4C4C4;
  font-weight: 300;
}
.wrapper {
  background: #F4F1EA;
  /*background: -webkit-linear-gradient(top left, #50a3a2 0%, #F4F1EA 100%);*/
  /*background: linear-gradient(to bottom right, #50a3a2 0%, #F4F1EA 100%);*/
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15% 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  outline: 0;
  border: 1px solid rgba(156, 156, 156, 0.4);
  background-color: rgba(255, 255, 255, 1);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: gray;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 1);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: black;
}
button {
  font-weight: 400;
  outline: 0;
  background-color: black;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 125px;
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background-color: black;
  font-weight: 600;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
