/* keyframe */
@-webkit-keyframes mymove {
	0% {width: 20px;}
	100% {width: 500px;}
}

@keyframes mymove {
	0% {height: 20px;}
	100% {height: 500px;}
}

/* Bootstrap Modifications */
body{
    background-color: #F4F1EA;
}

.navbar {
	font-weight: 400;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: black;
	border: 1px solid black;
	border-radius: 0px 0px 4px 4px;
	height: 20px;
}

.navbar-brand {
	font-size: 40px;
	padding-top: -0px;
	padding-bottom: 0px;
	margin-top: -5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {;
    background-color: gray; 
}

.navbar-nav > li > .dropdown-menu {
	background-color: white;
	margin-top: 12px;
}

.caret {
	color: #F4F1EA;
}

.dropdown-menu > li > a {
    color: gray; 
}

.dropdown-menu > li > a:hover {
    color: gray; 
}

#main-title {
   padding-top: 0px;
   font-family: cursive;
   font-size: 20px;
   color: #F4F1EA;
   height: 20px;
}

#log-in{
	color: #F4F1EA;
}

#log-in:hover {
	font-weight: 600;
	background-color: black; 
}

.navbar-default .navbar-nav > li > a {
 	color: #F4F1EA;
 	background-color: black;
 	padding-top: 0px;
 	font-size: 13px;
 	margin-top: -5px;
 	height: 25px;
 }

.navbar-default .navbar-nav > li > a:hover {
	color: #F4F1EA;
	font-weight: 600;
	background-color: black;
}

.navbar-default .navbar-nav > li > a:visited {
	color: #F4F1EA;
	background-color: black;
}

.navbar-default .navbar-nav > li > a:link {
	color: #F4F1EA;
	background-color: black;
}

.navbar-toggle {
	margin-top: -10px;
}

/* collect */

#line {
	width: 50%;
	height: 1px;
	background-color: gray;
}
#line1 {
	width: 70%;
	height: 1px;
	background-color: gray;
}

.person-details {
	margin-top: 30px;
}

.finish {
	height: 250px;
}

.finish p {
	color: gray;
}

.list-inline {
	margin-top: 110px;
}

.fa-thumbs-up {
	color: white;
}

.follow {
	text-align: center;	
}



