@bar-figures-bg-color: #DADADA;
@exp-bar-bg-color: #448AFF;
@pv-bar-bg-color: #4CAF50;
@pv-back-bg-color: #EEE;

.box {
  width: 90%;
  max-width: 270px;
  min-height: 80px;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  
  .stats-container {
    position: relative;
    height: 18px;
    margin-top: 62px;
    
    &:after {
      content: " ";
      height: 13px;
      display: block;
      width: 50px;
      background-color: @bar-figures-bg-color;
      transform: skew(-25deg);
      position: absolute;
      right: -5px;
    }
    
    &:before {
      content: " ";
      display: block;
      width: 100%;
      height: 5px;
      background-color: @bar-figures-bg-color;
      position: absolute;
      top: 13px;
    }
    
    .exp-bar {
      background-color: @exp-bar-bg-color;
      position: absolute;
      height: 2px;
      width: 100%;
      top: 11px
    }
    
    .pv-container {
      height: 8px;
      width: calc(~'98% - 50px');
      background-color: @pv-back-bg-color;
      transform: skew(-25deg);
      position: absolute;
      right: 40px;
      
      .pv-bar {
        height: 8px;
        width: 80%;
        position: absolute;
        right: 0;
        background-color: @pv-bar-bg-color;
        transform: skew(-25deg);
      }
    }
  }
}