body {	
	color:#f4f1ea;	
	font:300 15px/15px Roboto,Arial,Helvetica;
	background-size: cover; 
	-webkit-font-smoothing:antialiased;
}

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h2{font:300 2.5em Josefin Sans,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover{color: #ccc;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover{background: rgba(0,0,0,0.8);}
.btn-primary{color: #ccc;border: 1px solid #aaa;}
.btn-primary:hover{background: rgba(0,0,0,0.8);}



#head,.carousel{margin-top: 0;}


/*banner*/
.banner{position: relative;}
.banner .caption{position: absolute;top: 0;left:0; right: 0; bottom: 0;background:#F4F1EA; }
.banner .caption-wrapper{display: table;height: 100%;width: 100%;}
.banner .caption-info{display: table-cell;vertical-align: middle;text-align: center;color: #333;}
.banner .caption-info h1{font:normal 4.5em Josefin Sans,Arial,Helvetica;text-transform:capitalize;}
.banner .caption-info p{font:600 1.7em Josefin Sans,Arial,Helvetica;}
.banner a.explore{color: #fff;}
.explore{margin: 0 1em;}
.banner img.profile{border:5px solid #333;}
.img-arrowdown{
    margin-top: 100px
    
}



/*foods*/
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*foods*/

/*testimonials*/
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #ccc;}
.carousel-indicators{bottom: 0;}







/*contact*/
.contactform textarea,.contactform input{width: 100%;padding:1em;border:1px solid #ccc;margin-bottom: 1em;border-radius: 0;outline: none;}
/*contact*/

.footer{background-color: #111; color: #fff; font-size: 1em;color: #aaa;}
.footer a{color: #aaa;margin: 0 1em; }

.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}


@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}
	
	.grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

}

@media (max-width: 900px) {
	h1{font: 700 3.5em Roboto,Arial,Helvetica;}
	h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
	.btn{padding: 1em 2em;}
	figure.effect-chico figcaption {padding: 2em;}	
	figure.effect-oscar figcaption {padding: 20%;}
	figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
	.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}	
}


@media (max-width: 767px) {
	body{font:300 12px/12px Roboto,Arial,Helvetica;}

	.bounceInDown{display: none;}

	h2.text-center{text-align: left;font-size: 1.7em;}
	h4 {font: 300 1.2em Roboto,Arial,Helvetica;}
	

	.spacer{padding:2em 0 ;}
	.grid.team div{margin: 0;padding: 0;}
	figure.effect-chico figcaption {padding: 1.5em;}
	.footer{padding-bottom: 2em;}
}



/* keyframe */
@-webkit-keyframes mymove {
    0% {margin-top: 50px;}
    100% {margin-top: -10px;}
}

@keyframes mymove {
    0% {margin-top: 50px;}
    100% {margin-top: -10px;}
}

/* responsive */
/* 把最下面3個放到media中 */
@media only screen and (max-width: 767px) {

    @-webkit-keyframes mymove {
        0% {margin-top: 50px;}
        100% {margin-top: 0px;}
    }

    @keyframes mymove {
        0% {margin-top: 50px;}
        100% {margin-top: 0px;}
    }

    .navbar-nav .open .dropdown-menu {
        background-color: white;
    }

    .dropdown-menu > li > a {
        color: gray; 
    }

    .dropdown-menu > li > a:hover {
        color: gray; 
    }
}
/* Slogan Adjust */
p.site-slogan {
    right: 0px;
}

/* Bootstrap Modifications */
body{
    background-color: #F4F1EA;
}

.navbar {
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: black;
    border: 1px solid black;
}

.navbar-brand {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {;
    background-color: gray; 
}

/* 這是新的 */
.dropdown-menu {
    background-color: white;
}

.caret {
    color: #F4F1EA;
}

.dropdown-menu > li > a {
    color: gray; 
}

.dropdown-menu > li > a:hover {
    color: gray; 
}

#main-title {
   padding-top: 10px;
   font-family: cursive;
   color: #F4F1EA;
}

#log-in{
    color: #F4F1EA;
}

#log-in:hover {
    font-weight: 600;
    background-color: black; 
}

.navbar-default .navbar-nav > li > a {
    color: #F4F1EA;
 }

.navbar-default .navbar-nav > li > a:hover {
    font-weight: 600;
    color: #F4F1EA;
    background-color: black;
}

.navbar-default .navbar-nav > li > a:visited {
    font-weight: 600;
    color: #F4F1EA;
    background-color: black;
}

.banner{
	margin: 0;
}

#home{
	margin: 0;
	padding: 0px;
}





