<!-- login.html -->
{% extends "registration/base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form class="form" method="post" action="" >{% csrf_token %}
        <input type="text" placeholder="Account" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/?redirect={{ request.GET.redirect }}/{{ request.GET.id }}'">Register</button><br/>
        <a href="{% provider_login_url "facebook" method="oauth2" %}?next=/{{ request.GET.redirect }}/{{ request.GET.id }}"><img src="{% static 'img/fblogin.png' %}"></a>
        <input type="hidden" name="next" value="/{{ request.GET.redirect }}/{{ request.GET.id }}" />
    </form>
{% endblock %}
